<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            margin: 10px;
            font-family: Arial, sans-serif;
        }

        .header {
            text-align: center;
            padding: 3px;
            background-color: #f2f2f2;
        }

        .container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            gap: 10px;
            height: 100vh;
            margin-top: 10px;
        }

        .box {
            border: 2px dashed black;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative; /* 為卡片的絕對定位提供參考 */
            min-height: 100px; /* 設置最小高度以便拖放 */
        }

        .center {
            border: 2px solid black;
            grid-column: 2 / span 2;
            grid-row: 2 / span 2;
            align-items:end;
            padding:5px;
        }

        .bottom {
            border: 2px dashed rgb(134, 9, 3);
            grid-column: 1 / span 4;
            height: 150px; /* 可調整高度 */
            position: relative; /* 為卡片的絕對定位提供參考 */
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .card {
            position: absolute; /* 絕對定位 */
            cursor: grab;
            transition: transform 0.3s, width 0.3s, height 0.3s, z-index 0.3s;
            border: 2px solid #000;
            box-sizing: border-box;
            /*擺上卡背圖*/
            /*background-image: url("cardback.png");*/
            background-size: cover;
            background-repeat: no-repeat; 
            background-position: center;
        }

        .card-inner {
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            transition: transform 0.6s;
            transform-style: preserve-3d;
        }

        .card-front, .card-back {
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
        }

        .card-front {
			/*background-image: url("cardface.png");*/
            background-size: cover;
            background-repeat: no-repeat; 
            background-position: center;
            /*background-color: #fff;*/
            background-blend-mode: multiply; /* 或 screen，根據你想要的效果 */
            background-color: rgba(128, 128, 128, 0.5); /* 半透明的灰色 */
            color: #fff;
            font-size: 15px;
        }

        .card-back {
            /*background-color: #333;*/
            color: white;
            transform: rotateY(180deg);
            font-size: 15px;
        }

        .card-inner.is-flipped {
            transform: rotateY(180deg);
        }

        .card-number {
            position: absolute;
            top: 0;
            left: 0;
            color: #E0E0E0;
            font-size: 24px;
            font-weight: bold;
            margin: 4px;
        }

        .round-display {
            grid-column: 1 / span 4;
            text-align: center;
            font-size: 24px;
            color: blue;
        }

        .hidden-front {
            display: none;
        }

        .card.is-clicked {
            transform: translateY(-10px); /* 向上移動 10px */
            z-index: 10; /* 提升 z-index 以確保卡片在頂層 */
        }

        h1 {
            margin: 5px;
        }

        .forbidden-drop {
            cursor: not-allowed;
        }

        .center-text {
            position: absolute;
            top: 30%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .textareaContent {
            font-size: 20px;
            padding: 5px;
            border: 2px solid #ccc;
            border-radius: 4px;
            resize: none;
        }

    </style>
    <title>紫微斗數</title>
</head>
<body>
    <div id="app">
        <div class="container">
            <div class="box" @dragover.prevent="dragOver('1')" @drop="dropCard('1')">巳(04月)
                <div v-for="(card, index) in cardsInBox('1')" :key="card.id" class="card" :style="cardStyle(card, index, '1')" draggable="false" @dragstart="dragCard(card)" @click="flipCard(card)" @touchstart="touchStart(card)" @touchmove="touchMove(card)" @touchend="touchEnd(card)">
                    <div class="card-inner" :class="{ 'is-flipped': card.isFlipped }">
                        <div class="card-front" :style="cardBgStyle(card,'front')">
                            <h1>{{ card.frontText }}</h1>
                        </div>
                        <div class="card-back" :style="cardBgStyle(card,'back')">
                            <h1>{{ card.backText }}</h1>
                        </div>
                    </div>
                    <div class="card-number">{{ card.number }}</div>
                </div>
            </div>
            <div class="box" @dragover.prevent="dragOver('2')" @drop="dropCard('2')">午(05月)
                <div v-for="(card, index) in cardsInBox('2')" :key="card.id" class="card" :style="cardStyle(card, index, '2')" draggable="false" @dragstart="dragCard(card)" @click="flipCard(card)" @touchstart="touchStart(card)" @touchmove="touchMove(card)" @touchend="touchEnd(card)">
                    <div class="card-inner" :class="{ 'is-flipped': card.isFlipped }">
                        <div class="card-front" :style="cardBgStyle(card,'front')">
                            <h1>{{ card.frontText }}</h1>
                        </div>
                        <div class="card-back" :style="cardBgStyle(card,'back')">
                            <h1>{{ card.backText }}</h1>
                        </div>
                    </div>
                    <div class="card-number">{{ card.number }}</div>
                </div>
            </div>
            <div class="box" @dragover.prevent="dragOver('3')" @drop="dropCard('3')">未(06月)
                <div v-for="(card, index) in cardsInBox('3')" :key="card.id" class="card" :style="cardStyle(card, index, '3')" draggable="false" @dragstart="dragCard(card)" @click="flipCard(card)" @touchstart="touchStart(card)" @touchmove="touchMove(card)" @touchend="touchEnd(card)">
                    <div class="card-inner" :class="{ 'is-flipped': card.isFlipped }">
                        <div class="card-front" :style="cardBgStyle(card,'front')">
                            <h1>{{ card.frontText }}</h1>
                        </div>
                        <div class="card-back" :style="cardBgStyle(card,'back')">
                            <h1>{{ card.backText }}</h1>
                        </div>
                    </div>
                    <div class="card-number">{{ card.number }}</div>
                </div>
            </div>
            <div class="box" @dragover.prevent="dragOver('4')" @drop="dropCard('4')">申(07月)
                <div v-for="(card, index) in cardsInBox('4')" :key="card.id" class="card" :style="cardStyle(card, index, '4')" draggable="false" @dragstart="dragCard(card)" @click="flipCard(card)" @touchstart="touchStart(card)" @touchmove="touchMove(card)" @touchend="touchEnd(card)">
                    <div class="card-inner" :class="{ 'is-flipped': card.isFlipped }">
                        <div class="card-front" :style="cardBgStyle(card,'front')">
                            <h1>{{ card.frontText }}</h1>
                        </div>
                        <div class="card-back" :style="cardBgStyle(card,'back')">
                            <h1>{{ card.backText }}</h1>
                        </div>
                    </div>
                    <div class="card-number">{{ card.number }}</div>
                </div>
            </div>
            <div class="box" @dragover.prevent="dragOver('5')" @drop="dropCard('5')">辰(03月)
                <div v-for="(card, index) in cardsInBox('5')" :key="card.id" class="card" :style="cardStyle(card, index, '5')" draggable="false" @dragstart="dragCard(card)" @click="flipCard(card)" @touchstart="touchStart(card)" @touchmove="touchMove(card)" @touchend="touchEnd(card)">
                    <div class="card-inner" :class="{ 'is-flipped': card.isFlipped }">
                        <div class="card-front" :style="cardBgStyle(card,'front')">
                            <h1>{{ card.frontText }}</h1>
                        </div>
                        <div class="card-back" :style="cardBgStyle(card,'back')">
                            <h1>{{ card.backText }}</h1>
                        </div>
                    </div>
                    <div class="card-number">{{ card.number }}</div>
                </div>
            </div>
            <div class="box center" @dragover.prevent="dragOver('center')" @drop="dropCard('center')">
                <div class="center-text">
                    <textarea id="textareaContent" name="textareaContent" class="textareaContent" required placeholder="請輸入內容"></textarea>
                    <div style="display: flex;">
                        <button style="margin-right: 10px;" @click="submitText()">提 交</button>
                        <button style="margin-right: 10px;" @click="exportDatabase()">匯 出</button>
                        <button style="margin-right: 10px;" @click="clearDatabase()">清 除</button>
                    </div>
                </div>
                <div v-for="(card, index) in cardsInBox('center')" :key="card.id" class="card" :style="cardStyle(card, index, 'center')" draggable="false" @dragstart="dragCard(card)" @click="flipCard(card)" @touchstart="touchStart(card)" @touchmove="touchMove(card)" @touchend="touchEnd(card)">
                    <div class="card-inner" :class="{ 'is-flipped': card.isFlipped }">
                        <div class="card-front" :style="cardBgStyle(card,'front')">
                            <h1>{{ card.frontText }}</h1>
                        </div>
                        <div class="card-back" :style="cardBgStyle(card,'back')">
                            <h1>{{ card.backText }}</h1>
                        </div>
                    </div>
                    <div class="card-number">{{ card.number }}</div>
                </div>
            </div>
            <div class="box" @dragover.prevent="dragOver('6')" @drop="dropCard('6')">酉(08月)
                <div v-for="(card, index) in cardsInBox('6')" :key="card.id" class="card" :style="cardStyle(card, index, '6')" draggable="false" @dragstart="dragCard(card)" @click="flipCard(card)" @touchstart="touchStart(card)" @touchmove="touchMove(card)" @touchend="touchEnd(card)">
                    <div class="card-inner" :class="{ 'is-flipped': card.isFlipped }">
                        <div class="card-front" :style="cardBgStyle(card,'front')">
                            <h1>{{ card.frontText }}</h1>
                        </div>
                        <div class="card-back" :style="cardBgStyle(card,'back')">
                            <h1>{{ card.backText }}</h1>
                        </div>
                    </div>
                    <div class="card-number">{{ card.number }}</div>
                </div>
            </div>
            <div class="box" @dragover.prevent="dragOver('7')" @drop="dropCard('7')">卯(02月)
                <div v-for="(card, index) in cardsInBox('7')" :key="card.id" class="card" :style="cardStyle(card, index, '7')" draggable="false" @dragstart="dragCard(card)" @click="flipCard(card)" @touchstart="touchStart(card)" @touchmove="touchMove(card)" @touchend="touchEnd(card)">
                    <div class="card-inner" :class="{ 'is-flipped': card.isFlipped }">
                        <div class="card-front" :style="cardBgStyle(card,'front')">
                            <h1>{{ card.frontText }}</h1>
                        </div>
                        <div class="card-back" :style="cardBgStyle(card,'back')">
                            <h1>{{ card.backText }}</h1>
                        </div>
                    </div>
                    <div class="card-number">{{ card.number }}</div>
                </div>
            </div>
            <div class="box" @dragover.prevent="dragOver('8')" @drop="dropCard('8')">戌(9月)
                <div v-for="(card, index) in cardsInBox('8')" :key="card.id" class="card" :style="cardStyle(card, index, '8')" draggable="false" @dragstart="dragCard(card)" @click="flipCard(card)" @touchstart="touchStart(card)" @touchmove="touchMove(card)" @touchend="touchEnd(card)">
                    <div class="card-inner" :class="{ 'is-flipped': card.isFlipped }">
                        <div class="card-front" :style="cardBgStyle(card,'front')">
                            <h1>{{ card.frontText }}</h1>
                        </div>
                        <div class="card-back" :style="cardBgStyle(card,'back')">
                            <h1>{{ card.backText }}</h1>
                        </div>
                    </div>
                    <div class="card-number">{{ card.number }}</div>
                </div>
            </div>
            <div class="box" @dragover.prevent="dragOver('9')" @drop="dropCard('9')">寅(01月)
                <div v-for="(card, index) in cardsInBox('9')" :key="card.id" class="card" :style="cardStyle(card, index, '9')" draggable="false" @dragstart="dragCard(card)" @click="flipCard(card)" @touchstart="touchStart(card)" @touchmove="touchMove(card)" @touchend="touchEnd(card)">
                    <div class="card-inner" :class="{ 'is-flipped': card.isFlipped }">
                        <div class="card-front" :style="cardBgStyle(card,'front')">
                            <h1>{{ card.frontText }}</h1>
                        </div>
                        <div class="card-back" :style="cardBgStyle(card,'back')">
                            <h1>{{ card.backText }}</h1>
                        </div>
                    </div>
                    <div class="card-number">{{ card.number }}</div>
                </div>
            </div>
            <div class="box" @dragover.prevent="dragOver('10')" @drop="dropCard('10')">丑(12月)
                <div v-for="(card, index) in cardsInBox('10')" :key="card.id" class="card" :style="cardStyle(card, index, '10')" draggable="false" @dragstart="dragCard(card)" @click="flipCard(card)" @touchstart="touchStart(card)" @touchmove="touchMove(card)" @touchend="touchEnd(card)">
                    <div class="card-inner" :class="{ 'is-flipped': card.isFlipped }">
                        <div class="card-front" :style="cardBgStyle(card,'front')">
                            <h1>{{ card.frontText }}</h1>
                        </div>
                        <div class="card-back" :style="cardBgStyle(card,'back')">
                            <h1>{{ card.backText }}</h1>
                        </div>
                    </div>
                    <div class="card-number">{{ card.number }}</div>
                </div>
            </div>
            <div class="box" @dragover.prevent="dragOver('11')" @drop="dropCard('11')">子(11月)
                <div v-for="(card, index) in cardsInBox('11')" :key="card.id" class="card" :style="cardStyle(card, index, '11')" draggable="false" @dragstart="dragCard(card)" @click="flipCard(card)" @touchstart="touchStart(card)" @touchmove="touchMove(card)" @touchend="touchEnd(card)">
                    <div class="card-inner" :class="{ 'is-flipped': card.isFlipped }">
                        <div class="card-front" :style="cardBgStyle(card,'front')">
                            <h1>{{ card.frontText }}</h1>
                        </div>
                        <div class="card-back" :style="cardBgStyle(card,'back')">
                            <h1>{{ card.backText }}</h1>
                        </div>
                    </div>
                    <div class="card-number">{{ card.number }}</div>
                </div>
            </div>
            <div class="box" @dragover.prevent="dragOver('12')" @drop="dropCard('12')">亥(10月)
                <div v-for="(card, index) in cardsInBox('12')" :key="card.id" class="card" :style="cardStyle(card, index, '12')" draggable="false" @dragstart="dragCard(card)" @click="flipCard(card)" @touchstart="touchStart(card)" @touchmove="touchMove(card)" @touchend="touchEnd(card)">
                    <div class="card-inner" :class="{ 'is-flipped': card.isFlipped }">
                        <div class="card-front" :style="cardBgStyle(card,'front')">
                            <h1>{{ card.frontText }}</h1>
                        </div>
                        <div class="card-back" :style="cardBgStyle(card,'back')">
                            <h1>{{ card.backText }}</h1>
                        </div>
                    </div>
                    <div class="card-number">{{ card.number }}</div>
                </div>
            </div>
            <div class="bottom">
                <div v-for="(card, index) in cardsInBox('bottom')" :key="card.id" class="card" :style="bottomCardStyle(card, index)" draggable="true" @dragstart="dragCard(card)" @click="clickCard(card)" :class="{ 'is-clicked': card.isClicked }" @touchstart="touchStart(card)" @touchmove="touchMove(card)" @touchend="touchEnd(card)">
                    <div class="card-inner" :class="{ 'is-flipped': card.isFlipped }">
                        <div class="card-front" :class="{ 'hidden-front': card.isDragging }" :style="cardBgStyle(card,'front')">
                            <h1>{{ card.frontText }}</h1>
                        </div>
                        <div class="card-back" :style="cardBgStyle(card,'back')">
                            <h1>{{ card.backText }}</h1>
                        </div>
                    </div>
                    <div class="card-number" style="color:#730083;">{{card.number}}</div>
                </div>
            </div>
            <div class="round-display">{{ roundStatus }}</div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@3.4.27/dist/vue.global.min.js"></script>
    <script>

        const { createApp, ref, onMounted } = Vue;

        createApp({
            setup() {

                // 定義卡片數據
                const cards = ref([]);
                // 用於生成卡片的唯一 ID
                const cardIndex = ref(0);
                // 當前回合
                const currentRound = ref(0);
                // 拖曳計數
                const draggedCount = ref(0);
                // 選取計數
                const isClickedCount = ref(0);
                // 丟到 center 區域的卡片序號
                const dropIndex = ref(0);
                // 回合狀態
                const roundStatus = ref("Prepare for round 1");
                // 拖曳的卡片
                const draggingCard = ref(null);

                const rounds = [
                    { card_back_background_image:"cardback.png", card_face_background_image:"cardface.png", totalCards: 14, drawCount: 2, texts: [{ "front": "紫微", "back": "主星" }, 
                                                            { "front": "天機", "back": "主星" }, 
                                                            { "front": "太陽", "back": "主星" }, 
                                                            { "front": "武曲", "back": "主星" },
                                                            { "front": "天同", "back": "主星" }, 
                                                            { "front": "廉貞", "back": "主星" }, 
                                                            { "front": "天府", "back": "主星" }, 
                                                            { "front": "太陰", "back": "主星" },
                                                            { "front": "貪狼", "back": "主星" }, 
                                                            { "front": "巨門", "back": "主星" }, 
                                                            { "front": "天相", "back": "主星" }, 
                                                            { "front": "天梁", "back": "主星" },
                                                            { "front": "七殺", "back": "主星" }, 
                                                            { "front": "破軍", "back": "主星" }
                                                            ]},
                    { card_back_background_image:"cardback2.png", card_face_background_image:"cardface2.png", totalCards: 14, drawCount: 2, texts: [{ "front": "文昌", "back": "副星" }, 
                                                            { "front": "文曲", "back": "副星" }, 
                                                            { "front": "左輔", "back": "副星" }, 
                                                            { "front": "右弼", "back": "副星" },
                                                            { "front": "天魁", "back": "副星" }, 
                                                            { "front": "天鉞", "back": "副星" }, 
                                                            { "front": "地空", "back": "副星" }, 
                                                            { "front": "地劫", "back": "副星" },
                                                            { "front": "火星", "back": "副星" }, 
                                                            { "front": "鈴星", "back": "副星" }, 
                                                            { "front": "擎羊", "back": "副星" }, 
                                                            { "front": "陀羅", "back": "副星" },
                                                            { "front": "天馬", "back": "副星" }, 
                                                            { "front": "祿存", "back": "副星" }
                                                        ]},
                    { card_back_background_image:"cardback.png", card_face_background_image:"cardface.png", totalCards: 32, drawCount: 3, texts: [{ "front": "天官", "back": "乙級星" },
                                                            { "front": "天福", "back": "乙級星" },
                                                            { "front": "天廚", "back": "乙級星" },
                                                            { "front": "天刑", "back": "乙級星" },
                                                            { "front": "天姚", "back": "乙級星" },
                                                            { "front": "解神", "back": "乙級星" },
                                                            { "front": "天巫", "back": "乙級星" },
                                                            { "front": "天月", "back": "乙級星" },
                                                            { "front": "陰煞", "back": "乙級星" },
                                                            { "front": "台輔", "back": "乙級星" },
                                                            { "front": "封誥", "back": "乙級星" },
                                                            { "front": "天空", "back": "乙級星" },
                                                            { "front": "天哭", "back": "乙級星" },
                                                            { "front": "天虛", "back": "乙級星" },
                                                            { "front": "龍池", "back": "乙級星" },
                                                            { "front": "鳳閣", "back": "乙級星" },
                                                            { "front": "紅鸞", "back": "乙級星" },
                                                            { "front": "天喜", "back": "乙級星" },
                                                            { "front": "孤辰", "back": "乙級星" },
                                                            { "front": "寡宿", "back": "乙級星" },
                                                            { "front": "蜚廉", "back": "乙級星" },
                                                            { "front": "破碎", "back": "乙級星" },
                                                            { "front": "華蓋", "back": "乙級星" },
                                                            { "front": "咸池", "back": "乙級星" },
                                                            { "front": "天德", "back": "乙級星" },
                                                            { "front": "月德", "back": "乙級星" },
                                                            { "front": "天才", "back": "乙級星" },
                                                            { "front": "天壽", "back": "乙級星" },
                                                            { "front": "三台", "back": "乙級星" },
                                                            { "front": "八座", "back": "乙級星" },
                                                            { "front": "恩光", "back": "乙級星" },
                                                            { "front": "天貴", "back": "乙級星" }
                                                            ]},
                    { card_back_background_image:"cardback.png", card_face_background_image:"cardface.png", totalCards: 12, drawCount: 1, texts: [{ "front": "長生", "back": "宮位" }, 
                                                            { "front": "沐浴", "back": "宮位" }, 
                                                            { "front": "冠帶", "back": "宮位" }, 
                                                            { "front": "臨官", "back": "宮位" },
                                                            { "front": "帝旺", "back": "宮位" }, 
                                                            { "front": "衰", "back": "宮位" }, 
                                                            { "front": "病", "back": "宮位" }, 
                                                            { "front": "死", "back": "宮位" },
                                                            { "front": "墓", "back": "宮位" }, 
                                                            { "front": "絕", "back": "宮位" }, 
                                                            { "front": "胎", "back": "宮位" }, 
                                                            { "front": "養", "back": "宮位" }
                                                            ]}
                ];

                // 初始化回合
                const initRound = () => {
                    // 判斷是否還有回合
                    if (currentRound.value < rounds.length) {
                        // 取得當前回合的數據
                        let round = rounds[currentRound.value];
                        // 清空 bottom 區塊
                        cards.value = cards.value.filter(card => card.location !== 'bottom');
                        // 隨機排列 texts
                        round.texts = shuffleArray(round.texts);
                        // 生成卡片
                        for (let i = 0; i < round.totalCards; i++) {
                            cards.value.push({
                                id: ++cardIndex.value, // 確保每張卡片的唯一 ID
                                number: i + 1, // 顯示的序號
                                isFlipped: true, // 是否顯示卡面
                                location: 'bottom', // 初始位置設為 bottom
                                frontText: round.texts[i].front, // 前面文字
                                //backText: round.texts[i].back // 背面文字
                                touchX: null, // 用於觸控移動的 X 坐標
                                touchY: null,  // 用於觸控移動的 Y 坐標
                                isDragging: false, // 是否正在拖曳
                                isClicked: false, // 是否選取
                                zIndex: 0, // z-index
                                card_back_background_image: round.card_back_background_image,
                                card_face_background_image: round.card_face_background_image
                            });
                        }

                        if ((currentRound.value + 1) != rounds.length) {
                            roundStatus.value = `第 ${currentRound.value + 1} 回合: 請移動 ${round.drawCount} 張卡片到其他區塊`;
                        }else{
                            roundStatus.value = `第 ${currentRound.value + 1} 回合: 請移動 ${round.drawCount} 張卡片放到中間位子`;
                        }

                        draggedCount.value = 0; // 重設拖曳計數
                    } else {
                        roundStatus.value = "流程結束!";
                    }
                };

                // 隨機排列數組的函數
                const shuffleArray = (array) => {
                    for (let i = array.length - 1; i > 0; i--) {
                        const j = Math.floor(Math.random() * (i + 1));
                        [array[i], array[j]] = [array[j], array[i]];
                    }
                    return array;
                };

                // 依據 box 取得卡片, 並根據 number 屬性排序, 以確保卡片的順序
                const cardsInBox = (box) => cards.value.filter(card => card.location === box).sort((a, b) => a.number - b.number);

                const flipCard = (card) => {
                    /*點擊顯示卡面*/
                    /*
                    card.isFlipped = !card.isFlipped;
                    if (card.isFlipped) {
                        card.zIndex = Math.max(...cards.value.map(c => c.zIndex || 0)) + 1;
                    } else {
                        card.zIndex = 0;
                    }
                    */
                };

                const dragCard = (card) => {

                    if(!card.isClicked){
                        if(card.location === 'bottom'){
                            alert("請先選取卡片,再拖曳");
                        }   
                    }

                    //這拖曳控制,卡片內容不顯示
                    card.isDragging = true; // 設置拖曳狀態

                    // 拖曳時只能拖曳底部區域的卡片, 並且要選取狀態時才可拖曳
                    if (card.location === 'bottom' && card.isClicked && draggedCount.value < rounds[currentRound.value].drawCount) {
                        event.dataTransfer.dropEffect = 'move';
                        event.dataTransfer.setData('text/plain', card.id.toString());
                    }
                };

                const dragEndCard = (card) => {
                    card.isDragging = false; // 清除拖曳狀態
                    event.dataTransfer.clearData();
                };
                
                const dropCard = (box) => {
                    if (box === 'bottom') {
                        alert("不可將卡片丟到 bottom 區域");
                        return;
                    }

                    let card;
                    if (event.type === 'drop') {
                        const cardId = parseInt(event.dataTransfer.getData('text/plain'));
                        card = cards.value.find(card => card.id === cardId);
                    } else {
                        card = draggingCard.value;
                    }

                    if (card && card.location === 'bottom' && draggedCount.value < rounds[currentRound.value].drawCount) {

                        // 判斷是否在最後一回合，並且只能放到 center 區域
                        if (currentRound.value === rounds.length - 1 && box !== 'center') {
                            alert("最後一回合的卡片只能放在 center 區域");
                            return;
                        } else if (currentRound.value !== rounds.length - 1 && box === 'center') {
                            alert("只有最後一回合才能將卡片丟到 center 區域");
                            return;
                        }
                        
                        card.location = box; // 設置卡片的位置
                        card.isFlipped = false; // 拖曳後顯示卡面
                        card.isDragging = false; // 清除拖曳狀態
                        card.isClicked = false; // 拖曳後清除選取狀態
                        draggedCount.value++; // 增加拖曳計數
                        isClickedCount.value = 0; //拖曳後歸零
                        card.number = ++dropIndex.value; // 設置卡片的序號

                        // 檢查是否需要進入下一回合
                        if (draggedCount.value === rounds[currentRound.value].drawCount) {
                            if (currentRound.value + 1 < rounds.length) {
                                currentRound.value++;
                                initRound();
                            } else {
                                roundStatus.value = "流程結束!";
                                setTimeout(() => alert("流程結束!"), 100); // 在最後一張卡片被移動後顯示提示

                                var ResponseJson = cards.value
                                                    .filter(item => item.isFlipped === false)
                                                    .map(item => {
                                                        return {
                                                            "number": item.number,
                                                            "location": item.location,
                                                            "frontText": item.frontText
                                                        }
                                                    }).sort((a, b) => a.number - b.number);

                                addOperation(ResponseJson);

                                console.log(JSON.stringify(ResponseJson));
                            }
                        }
                    }
                };

                const cardStyle = (card, index, box) => {
                    const aspectRatio = 2 / 3; // 卡片比例 2:3
                    const boxHeight = 100; // 固定高度
                    const cardHeight = boxHeight - 4; // 扣除邊框的寬度
                    const cardWidth = cardHeight * aspectRatio;

                    const offset = box === 'bottom' ? index * (cardWidth + 10) : index * 10; // 底部區塊與其他區塊的偏移

                    const style = {
                        position: 'relative',
                        margin: '0 5px', // 卡片之間的空隙
                        width: `${cardWidth}px`,
                        height: `${cardHeight}px`,
                        zIndex: card.zIndex || 0 // 根據 zIndex 設定疊加順序
                    };

                    if (card.isDragging) {
                        style.position = 'absolute'; // 使用絕對定位
                        style.left = `${card.touchX}px`;
                        style.top = `${card.touchY}px`;
                    }

                    return style;
                };

                const bottomCardStyle = (card, index) => {
                    const aspectRatio = 2 / 3; // 卡片比例 2:3
                    const boxHeight = 100; // 固定高度
                    const cardHeight = boxHeight - 4; // 扣除邊框的寬度
                    const cardWidth = cardHeight * aspectRatio;

                    return {
                        position: 'relative',
                        margin: '0 5px', // 卡片之間的空隙
                        width: `${cardWidth}px`,
                        height: `${cardHeight}px`,
                        zIndex: card.zIndex || 0, // 根據 zIndex 設定疊加順序
                        transform: card.isClicked ? 'translateY(-10px)' : 'translateY(0)', // 根據 isClicked 屬性設置位移
                    };
                };

                const cardBgStyle = (card, side) => {
                    return {
                        backgroundImage: `url(${side === "front" ? card.card_face_background_image : card.card_back_background_image})`,
                        backgroundSize: 'cover',
                        backgroundPosition: 'center',
                        backgroundRepeat: 'no-repeat'
                    };
                };

                //點擊卡片
                const clickCard = (card) => {
                    //一次只能有一張彈出
                    if(isClickedCount.value != 0){
                        if(card.isClicked){
                            isClickedCount.value = 0;
                        }else{
                            return;
                        }
                    }else{
                        isClickedCount.value += 1;
                    }

                    //console.log('isClickedCount:' + isClickedCount.value);

                    card.isClicked = !card.isClicked;
                };

                const dragOver = (box) => {
                    if (box === 'bottom' ||
                        (currentRound.value === rounds.length - 1 && box !== 'center') ||
                        (currentRound.value !== rounds.length - 1 && box === 'center')) {
                        event.dataTransfer.dropEffect = 'none';
                        event.target.classList.add('forbidden-drop');
                    } else {
                        event.dataTransfer.dropEffect = 'move';
                        event.target.classList.remove('forbidden-drop');
                    }
                };

                const touchStart = (card) => {
                    event.preventDefault();
                    card.isDragging = true;

                    draggingCard.value = card; // 設置當前拖曳的卡片

                    // 設置卡片的初始位置為觸摸點的位置
                    const touch = event.touches[0];
                    card.touchX = touch.clientX;
                    card.touchY = touch.clientY;

                    clickCard(card);
                };

                const touchMove = (card) => {
                    event.preventDefault();
                    if (draggingCard.value) {
                        const touch = event.touches[0];
                        draggingCard.value.touchX = touch.clientX;
                        draggingCard.value.touchY = touch.clientY;
                    }
                };

                const touchEnd = (card) => {
                    event.preventDefault();
                    if (draggingCard.value) {
                        dropCard(draggingCard.value.location);
                        draggingCard.value.isDragging = false;
                        draggingCard.value.touchX = null;
                        draggingCard.value.touchY = null;
                        draggingCard.value = null;
                    }
                };

                const submitText = () => {
                    let text = document.getElementById("textareaContent").value;
                    //如有文字則將輸入框readonly
                    if(text != ""){
                        document.getElementById("textareaContent").readOnly = true;
                        //要呈現不給輸入的 style
                        document.getElementById("textareaContent").style.backgroundColor = "#E0E0E0";
                    }
                    console.log('text->'+ text);

                };

                /* 資料庫 */
                const db = ref(null);
                const operations = ref([]);
                const content = ref('');
                const sessionKey = ref(new Date().toISOString());
                const retentionDays = ref(7);

                const openDatabase = () => {
                    let request = indexedDB.open('OperationsDB', 1);

                    request.onupgradeneeded = function(event) {
                        db.value = event.target.result;
                        if (!db.value.objectStoreNames.contains('Records')) {
                            db.value.createObjectStore('Records', { keyPath: 'sessionKey' });
                        }
                    };

                    request.onsuccess = function(event) {
                        db.value = event.target.result;
                        console.log('資料庫開啟成功');
                        deleteOldRecords();
                    };

                    request.onerror = function(event) {
                        console.error('資料庫錯誤: ' + event.target.errorCode);
                    };
                };

                const addOperation = (data) => {
                    let transaction = db.value.transaction(['Records'], 'readwrite');
                    let objectStore = transaction.objectStore('Records');
                    let getRequest = objectStore.get(sessionKey.value);

                    getRequest.onsuccess = function(event) {
                        let sessionData = event.target.result || 
                        { 
                            sessionKey: sessionKey.value, 
                            content: document.getElementById("textareaContent").value,
                            operations: [] 
                        };

                        let newOperation = {
                            cards: data,
                            timestamp: new Date().toISOString()
                        };
                        sessionData.operations.push(newOperation);

                        let putRequest = objectStore.put(sessionData);

                        putRequest.onsuccess = function(event) {
                            console.log('操作記錄新增成功');
                        };

                        putRequest.onerror = function(event) {
                            console.error('新增操作記錄錯誤: ' + event.target.errorCode);
                        };
                    };

                    getRequest.onerror = function(event) {
                        console.error('獲取 session 資料錯誤: ' + event.target.errorCode);
                    };
                };

                // 清除資料庫
                const clearDatabase = () => {
                    let transaction = db.value.transaction(['Records'], 'readwrite');
                    let objectStore = transaction.objectStore('Records');
                    let clearRequest = objectStore.clear();

                    clearRequest.onsuccess = function(event) {
                        console.log('所有操作記錄已清除');
                    };

                    clearRequest.onerror = function(event) {
                        console.error('清除操作記錄錯誤: ' + event.target.errorCode);
                    };
                };

                const deleteOldRecords = () => {
                    let transaction = db.value.transaction(['Records'], 'readwrite');
                    let objectStore = transaction.objectStore('Records');
                    let currentDate = new Date();

                    objectStore.openCursor().onsuccess = function(event) {
                        let cursor = event.target.result;
                        if (cursor) {
                            let recordDate = new Date(cursor.value.sessionKey);
                            let ageInDays = (currentDate - recordDate) / (1000 * 60 * 60 * 24);
                            if (ageInDays > retentionDays.value) {
                                let deleteRequest = cursor.delete();

                                deleteRequest.onsuccess = function() {
                                    console.log('已刪除過期記錄', cursor.value.sessionKey);
                                };

                                deleteRequest.onerror = function(event) {
                                    console.error('刪除記錄錯誤: ' + event.target.errorCode);
                                };
                            }
                            cursor.continue();
                        }
                    };

                    objectStore.openCursor().onerror = function(event) {
                        console.error('檢查過期記錄錯誤: ' + event.target.errorCode);
                    };
                };

                const exportDatabase = () => {
                    let transaction = db.value.transaction(['Records'], 'readonly');
                    let objectStore = transaction.objectStore('Records');
                    let allRecords = [];

                    objectStore.openCursor().onsuccess = function(event) {
                        let cursor = event.target.result;
                        if (cursor) {
                            allRecords.push(cursor.value);
                            cursor.continue();
                        } else {
                            let dataStr = JSON.stringify(allRecords, null, 2);
                            let dataBlob = new Blob([dataStr], { type: 'application/json' });
                            let url = URL.createObjectURL(dataBlob);

                            let link = document.createElement('a');
                            link.href = url;
                            link.download = 'Explorer.json';
                            document.body.appendChild(link);
                            link.click();
                            document.body.removeChild(link);

                            console.log('匯出完成');
                        }
                    };

                    objectStore.openCursor().onerror = function(event) {
                        console.error('匯出錯誤: ' + event.target.errorCode);
                    };
                };

                onMounted(() => {
                    openDatabase();
                    initRound();
                });

                return {
                    cards,
                    cardsInBox,
                    flipCard,
                    dragCard,
                    dropCard,
                    cardStyle,
                    bottomCardStyle,
                    roundStatus,
                    dragEndCard,
                    clickCard,
                    dragOver,
                    touchStart,
                    touchMove,
                    touchEnd,
                    submitText,
                    exportDatabase,
                    clearDatabase,
                    cardBgStyle
                };
            }
        }).mount('#app');
    </script>
</body>
</html>
